<a href="https://colab.research.google.com/github/ppokranguser/Artificial_Intelligence_study/blob/main/240912_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Introduction

In [ ]:
course_name = "Artifical Intelligence (AI)"

### Simple print function
print('Hello CAU!')

Hello CAU!

In [ ]:
### ADD STRING WITH '+' OPERATION
print('Hello and welcome to ' + course_name)

Hello and welcome to Artifical Intelligence (AI)

In [ ]:
### ADD STRING WITH {} & 'format' function
### 'data' == '{}'.format('data')
print('The course\'s name is \"{}\"'.format(course_name))

The course's name is "Artifical Intelligence (AI)"

In [ ]:
### OR use %s (strings) %d (integer) %f (float) ...
### "text, 10" == "%s, %d" %('text', 10)
print('In %s course, we will learn various things for %d weeks!' %(course_name, 16))

In Artifical Intelligence (AI) course, we will learn various things for 16 weeks!

## Python as a Calculator

In [ ]:
print(2+2) # Addition
print(50-5*6) # Subtraction and multiplication
print()

## Difference from Python 2 and Python 3 : division always makes the float result
print(18/5)
print()

## Use // for generating integer result after division.
print(18//5)
print()

## % for get the remainder of the division
# if k % 10 == 0: (if k can be divided by 10 with 0 remainder, below will be run.)
print(101 % 10)
print()

## ** for power.
print(10 ** 2) # 10 squared
print(10 ** 3) # 10 cubed

4
20

3.6

3

1

100
1000

## List

### List in Python : group other values together!
- len(L): Number of elements inside the List L
- Watch out for the indexing
    - it starts from 0 1 2...
    - If you want to go backward, it is -1, -2, -3, ....

In [ ]:
# Watch out for the indexing
my_list = [0, 1, 2, 'a', 'b','c']
print('Length of list : {}'.format(len(my_list)))
print('len: %d' %len(my_list))
print('First element:', my_list[0])  # Accessing the first element
print('Last element:', my_list[-1])  # Accessing the last element

Length of list : 6
len: 6
First element: 0
Last element: c

### Slice and Concatenate
- L[a:b]: slice the list "L" from index `a` to `b-1`. Number of the elements will be `b-a`
- L1 + L2: Concatenating two list L1 and L2

In [ ]:
# Slicing the list
my_list = [0, 1, 2, 'a', 'b','c']
print('Sliced list:', my_list[2:5])  # Slicing the list from index 2 to 4

# Concatenating lists
my_list = [0, 1, 2, 'a', 'b','c']
your_list = [3, 4, 5, 'd', 'e','f']
concatenated_list = my_list + your_list
print('Concatenated list:', concatenated_list)

Sliced list: [2, 'a', 'b']
Concatenated list: [0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

### Add and Delete

- L.append(element): Add the element at the end of L. The length of L will be increased.
- del L[a]: delete the element in index `a` of the list L
- L[a:b] = []: delete a slice of elements from index `a` to `b-1`

In [ ]:
# Adding an element to the list
concatenated_list.append('NEW ELEMENT')
print('List after adding new element:', concatenated_list)

## Delete the element of list
del concatenated_list[-1]
print('List after erasing last: ', concatenated_list)

## Delete the some part of the list
concatenated_list[0:3] = []
print('List after erasing block: ', concatenated_list)
print()

List after adding new element: [0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f', 'NEW ELEMENT']
List after erasing last:  [0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']
List after erasing block:  ['a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']

### Indexing
- L.index(element): find the index of the element.

In [ ]:
## find the INDEX of the element!
my_list = [0, 1, 2, 'a', 'b','c']
your_list = [3, 4, 5, 'd', 'e','f']
concatenated_list = my_list + your_list

# Finding the index of the element '3' in the concatenated list
index_3 = concatenated_list.index(3)
print(concatenated_list)
print('3 is at the {}th order in concat_list'.format(index_3 + 1 ) )

[0, 1, 2, 'a', 'b', 'c', 3, 4, 5, 'd', 'e', 'f']
3 is at the 7th order in concat_list

### Nested list
- A list can contain other lists as elements.

In [ ]:
## List can contain other list as element
my_list = [0, 1, 2, 'a', 'b','c']
your_list = [3, 4, 5, 'd', 'e','f']
super_list = [my_list, your_list, ["new!"]]
print(super_list)
print()

[[0, 1, 2, 'a', 'b', 'c'], [3, 4, 5, 'd', 'e', 'f'], ['new!']]

### Others...

In [ ]:
## Some useful operations for the list
curr_list = [2, 5, 1, 3, 0, 8, 9, 9, 10, 10]

# Displaying the current list
print('Current List:', curr_list)

# Calculating the sum of the elements in the list
print('Sum of the list: {}'.format(sum(curr_list)))

# Finding the maximum and minimum elements in the list
print('Maximum element: {}'.format(max(curr_list)))
print('Minimum element: {}'.format(min(curr_list)))

# Sorting the list in ascending order
print('Sorted List:', sorted(curr_list))

# Finding the unique elements in the list using a set
print('Unique set:', set(curr_list))

Current List: [2, 5, 1, 3, 0, 8, 9, 9, 10, 10]
Sum of the list: 57
Maximum element: 10
Minimum element: 0
Sorted List: [0, 1, 2, 3, 5, 8, 9, 9, 10, 10]
Unique set: {0, 1, 2, 3, 5, 8, 9, 10}

## String

### Some useful string operations
- s1.split()
-s1.join()
-s1.lower() and s1.upper()

### Indexing in the string (list)
```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
   0   1   2   3   4   5   6
  -6  -5  -4  -3  -2  -1
```

In [ ]:
## Split the string! the default is spliting with space
curr_str = "This is the string for you! / Thanks a lot"

print(curr_str.split()) # Split the string into substrings
print(curr_str.split('/')) # Split the string using '/' as the delimiter

['This', 'is', 'the', 'string', 'for', 'you!', '/', 'Thanks', 'a', 'lot']
['This is the string for you! ', ' Thanks a lot']

In [ ]:
## Join the strings in the list. s1.join(L) would make L[0] + s1 + L[1] + s1 + ....
curr_char = ['w', 'h', 'a', 't', 'i', 's', 't', 'h', 'i', 's']

print(' '.join(curr_char)) # Join the characters with a space
print(''.join(curr_char)) # Join the characters without any separator
print('HHH'.join(curr_char)) # Join the characters with 'HHH' as the separator

w h a t i s t h i s
whatisthis
wHHHhHHHaHHHtHHHiHHHsHHHtHHHhHHHiHHHs

In [ ]:
## String to lower / upper cases
curr_str = "This is the string for you! / Thanks a lot"
print(curr_str.lower())
print(curr_str.upper())

this is the string for you! / thanks a lot
THIS IS THE STRING FOR YOU! / THANKS A LOT

## Dictionary in Python!
- map 'key' with 'value'
- D['key'] = value

In [ ]:
## DEFINE SOME DICTIONARY
deep_learning_tools = dict()
deep_learning_tools['Google'] = 'Tensorflow'
deep_learning_tools['Meta'] = 'PyTorch'
deep_learning_tools['Apache'] = 'MXNet'

print('Dictionary: \t', deep_learning_tools)
print('Keys: \t\t', deep_learning_tools.keys())
print('Values: \t', deep_learning_tools.values())
print('Length of this dictionary: {}'.format(len(deep_learning_tools)))

Dictionary: 	 {'Google': 'Tensorflow', 'Meta': 'PyTorch', 'Apache': 'MXNet'}
Keys: 		 dict_keys(['Google', 'Meta', 'Apache'])
Values: 	 dict_values(['Tensorflow', 'PyTorch', 'MXNet'])
Length of this dictionary: 3

## If statement
- Consists of **if, elif, else**.
```
if [some condition] :
    do something you want
elif [another condition] :
    do another thing you want
else:
    do others you want
```
- Always add ' : ' !
- Grammar real English

In [ ]:
input_int = int(input('Enter your positive integer value!: '))
if input_int < 0:
    print('NEGATIVE INTEGER!')
else:
    if input_int % 5 == 0:
        print('This integer can be divided by 5')
    elif input_int % 5 == 1:
        print('This integer leaves 1 after divided by 5')
    else:
        print('This interger leaves value larger than 1 after divided by 5')

Enter your positive integer value!: 12
This interger leaves value larger than 1 after divided by 5

## For statement and Range function



```
for (something) in (something that can be iterated):
    do what you want with (something)
```
```
for idx in range(start, end, stride):
    idx would be start, start+stride, start+2*stride .....
```
* Always add ' : ' !
* Grammar like English

In [ ]:
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
### iterate elements in "alphabet"
for ch in alphabet:
    print(ch)
print()

### iterate elements in "alphabet" with index information
for char_idx, char in enumerate(alphabet):
    print(char_idx, char)

a
b
c
d
e
f
g
h
i

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i

In [ ]:
for i in range(5): # start from 0 to param-1
    print(i)
print()

for i in range(0, 5, 1): # start, end, stride
    print(i)
print()

for i in range(5, 0, -1):
    print(i)

0
1
2
3
4

0
1
2
3
4

5
4
3
2
1

In [ ]:
## Iterate with key and values!
deep_learning_tools = dict()
deep_learning_tools['Google'] = 'Tensorflow'
deep_learning_tools['Meta'] = 'PyTorch'
deep_learning_tools['Apache'] = 'MXNet'

for k, v in deep_learning_tools.items():
    print('{} \t ---> \t  {}'.format(k, v))

Google 	 ---> 	  Tensorflow
Meta 	 ---> 	  PyTorch
Apache 	 ---> 	  MXNet

In [ ]:
## Some tricks to make a list
print([x for x in range(10)])
print([x for x in range(10) if x % 2 == 0]) # only elements that can be divided by 2
print([x**2 for x in range(10) if x % 2 == 1]) # squared value of elements that can not be divided by 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 9, 25, 49, 81]

In [ ]:
## additional example
start_idx = 5
end_idx = 0
stride = -1
alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

### iterate elements using "range"
for idx in range(start_idx, end_idx, stride):
    print(alphabet[idx])
print()

### iterate elements using index information directly.
print(alphabet[start_idx:end_idx:stride])
print()

for char in alphabet[start_idx:end_idx:stride]:
    print(char)

f
e
d
c
b

['f', 'e', 'd', 'c', 'b']

f
e
d
c
b

In [ ]:
## additional example
for i in range(2): # 0-1
    for j in range(10): # 0-9
        value = i * 10 + j
        if i == 1 and j == 5:
            print('I want this number : '+str(value))
            break
        else:
            print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
I want this number : 15

## While statement
```
while (some condition to keep this while loop) :
    do something you want
```

In [ ]:
cnt = 0
limit = 10
middle_point = 5

while cnt < limit:
    print('Current Counter : ', cnt)
    if cnt is middle_point:
        print('STOP')
        break
    # when you use a 'while' statement, always care about infinite loop!
    cnt += 1

print('Final Counter : ', cnt)

Current Counter :  0
Current Counter :  1
Current Counter :  2
Current Counter :  3
Current Counter :  4
Current Counter :  5
STOP
Final Counter :  5